/* Stiluri generale */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
  min-height: 100vh; /* Asigură că pagina are o înălțime minimă */
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  flex-grow: 1; /* Permite containerului să crească și să ocupe spațiul liber */
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Layout flexibil pentru produse */
.catalogue {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Aliniază produsele în centru */
}

.produit {
  width: 190px;
  border: 2px solid #ad4ace;
  padding: 10px;
  text-align: center;
}

.produit img {
  width: 100%; /* Asigură că imaginile sunt responsive */
  height: 150px; /* Setează o înălțime fixă pentru toate imaginile */
  object-fit: contain;
}

.produit p {
  margin: 10px 0;
}

.produit button {
  background-color: #994cae;
  border-radius: 5px;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.produit button:hover {
  background-color: #b62f6e;
}

/* Layout coș de cumpărături */
.panier {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 600px; /* Limitează lățimea la dimensiuni mari */
  background-color: #fefefe;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #e0e0e0;
}

.panier h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #0a0a0a;
  margin-bottom: 20px;
}

.panier p {
  font-size: 1.2rem;
  color: #0a0a0a;
  margin-bottom: 15px;
  text-align: center;
}

.panier-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Grilă responsive */
  gap: 20px;
  margin-top: 20px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 10px;
}

.panier .item span {
  flex-grow: 1;
  margin-left: 20px;
  font-size: 1.2rem;
}

.panier button {
  background-color: #994cae;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.3s ease;
}

.panier button:hover {
  background-color: #b62f6e;
}

.panier .total {
  text-align: right;
  font-size: 1.4rem;
  margin-top: 20px;
  font-weight: bold;
  color: #0a0a0a;
}

.panier .vide-message {
  font-size: 1.3rem;
  text-align: center;
  margin: 20px 0;
  color: #888;
}

/* Formular de confirmare */
.confirmation {
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #fefefe;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

.confirmation h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #0a0a0a;
  margin-bottom: 20px;
}

.confirmation label {
  display: block;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.confirmation input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.confirmation button {
  background-color: #994cae;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  display: block;
  margin: 20px auto 0;
}

.confirmation button:hover {
  background-color: #b62f6e;
}

/* Stiluri pentru secțiunea contact */
.contact {
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #fefefe;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px; /* Ajustează marginea de jos */
}

.contact h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #7b208f;
  margin-bottom: 20px;
}

.contact label {
  display: block;
  margin-bottom: 5px;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.contact button {
  background-color: #994cae;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  display: block;
  margin: 0 auto;
}

.contact button:hover {
  background-color: #b62f6e;
}

/* Hero Carousel */
.hero-carousel {
  width: 100%;
  overflow: hidden;
}

.hero-carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.hero-carousel-item {
  min-width: 100%;
}

.hero-carousel-image {
  width: 100%;
  height: auto;
}

/* Stiluri pentru elementele de navigare și header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #e3b1ea;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.logo h1 {
  font-size: 1.8rem;
  color: #7b208f;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  text-decoration: none;
  color: #272424;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #994cae;
}

/* Footer */
.footer {
  background-color: #e3b1ea;
  text-align: center;
  padding: 20px;
  border-top: 2px solid #e0e0e0;
  width: 100%;
  position: relative;
}

/* Media queries pentru diferite dimensiuni de ecran */
@media only screen and (max-width: 1024px) {
  .container {
    padding: 15px;
  }

  .navbar ul {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .navbar {
    margin-top: 10px;
    text-align: center;
  }

  .catalogue {
    flex-direction: column;
    align-items: center;
  }

  .produit {
    width: 100%;
  }

  .panier {
    width: 100%;
  }

  .confirmation,
  .contact {
    width: 100%;
  }
}
