
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, 
  rgb(245, 150, 239), 
  rgb(245, 161, 239), 
  rgb(247, 178, 243), 
  rgb(245, 193, 243), 
  rgb(245, 207, 244), 
  rgb(246, 218, 245), 
  rgb(246, 230, 246))
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-content {
  flex: 1; 
  padding-bottom: 100px; }
 .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  flex-grow: 1; 
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


.catalogue {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; 
  margin-top: 10px;
  
}

.produit {
  width: 190px;
  border: 2px solid #ad4ace;
  padding: 10px;
  text-align: center;
  background-color: white;
}

.produit img {
  width: 100%; 
  height: 150px; 
  object-fit: contain;
}

.produit p {
  margin: 10px 0;
}

.produit button {
  background-color: #994cae;
  border-radius: 5px;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.produit button:hover {
  background-color: #b62f6e;
}


.panier {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  min-height: 29vh;
  max-width: 600px; 
  background-color: #fefefe;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #e0e0e0;
}

.panier h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #0a0a0a;
  margin-bottom: 20px;
}

.panier p {
  font-size: 1.2rem;
  color: #0a0a0a;
  margin-bottom: 15px;
  text-align: center;
}

.panier-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Grilă responsive */
  gap: 20px;
  margin-top: 20px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 10px;
}

.panier .item span {
  flex-grow: 1;
  margin-left: 20px;
  font-size: 1.2rem;
}

.panier button {
  background-color: #994cae;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.3s ease;
}

.panier button:hover {
  background-color: #b62f6e;
}

.panier .total {
  text-align: right;
  font-size: 1.4rem;
  margin-top: 20px;
  font-weight: bold;
  color: #0a0a0a;
}

.panier .vide-message {
  font-size: 1.3rem;
  text-align: center;
  margin: 20px 0;
  color: #888;
}

/* Formular de confirmare */
.confirmation {
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #fefefe;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

.confirmation h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #0a0a0a;
  margin-bottom: 20px;
}

.confirmation label {
  display: block;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.confirmation input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.confirmation button {
  background-color: #994cae;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  display: block;
  margin: 20px auto 0;
}

.confirmation button:hover {
  background-color: #b62f6e;
}

/*contact */
.contact {
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #fefefe;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin-top: 7%;
  margin-bottom: 8%;
}

.contact h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #7b208f;
  margin-bottom: 20px;
}

.contact label {
  display: block;
  margin-bottom: 5px;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.contact button {
  background-color: #994cae;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  display: block;
  margin: 0 auto;
}

.contact button:hover {
  background-color: #b62f6e;
}

/* nav, header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #e3b1ea;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.logo h1 {
  font-size: 1.8rem;
  color: #7b208f;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  text-decoration: none;
  color: #272424;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #994cae;
}

/* Footer */
.footer {
  background-color: #e3b1ea;
  border-top: 2px solid #e0e0e0;
  text-align: center;
  padding: 20px;
  border-top: 2px solid #e0e0e0;
  width: 100%;
 
  bottom: 0;
  z-index: 1; 
}

/* Media queries */
@media only screen and (max-width: 1024px) {
  .container {
    padding: 15px;
  }

  .navbar ul {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .navbar {
    margin-top: 10px;
    text-align: center;
  }

  .catalogue {
    flex-direction: column;
    align-items: center;
  }

  .produit {
    width: 100%;
  }

  .panier {
    width: 100%;
  }

  .confirmation,
  .contact {
    width: 100%;
  }
}
